h2 {
  color:black;
  font: "Arial"
}
h1 {
  color: black;
  font: "Arial"
}
#ProjectOne{
  color: red;
}
#ProjectTwo {
  color: orange;
}
#ProjectThree {
  color: yellow;
}
#ProjectFour {
  color:green;
}
#DI {
  color: red;
}
#EMA {
  color: orange;
}
#WeCan {
  color:yellow;
}
#SPCA {
  color:green;
}
.text-orchid{
  color:orchid;
}
#Hobbies {
  color: orchid;
}
#Contact {
  color:orchid;
}
.jumbotron{
  background-image: url(https://www.picgifs.com/wallpapers/wallpapers/marble/wallpapers-marble-171512.jpg)
}

.footer{
  background-image: url(https://www.picgifs.com/wallpapers/wallpapers/marble/wallpapers-marble-171512.jpg)
}