h2 {
  color:blueviolet;
  font: "Arial"
}
h1 {
  color: blueviolet;
  font: "Arial"
}
#ProjectOne{
  color: red;
}
#ProjectTwo {
  color: orange;
}
#ProjectThree {
  color: yellow;
}
#ProjectFour {
  color:green;
}
#DI {
  color: red;
}
#EMA {
  color: orange;
}
#WeCan {
  color:yellow;
}
#SPCA {
  color:green;
}
.text-orchid{
  color:orchid;
}
#Hobbies {
  color: orchid;
}
#Contact {
  color:orchid;
}